@import '../styles/defaults';
@import '../styles/mixins';

$text-rows: 3;
$text-rows-slider: 4;

.ns-articles-switcher_ {
    &_wrapper {
        font-family: 'Roboto';
        width: 100%;
        display: flex;
        background: $bcg-article;
        height: $height-slider;
        position: relative;
    }
    &_img-holder { flex: 1 0 60%; }
    @include image('img-holder', 'img-wrap');
    &_holder {
        width: 100%;
        overflow: hidden;
        padding: $spacing-25 $spacing-m;
        position: relative;
        padding-right: $spacing-m * 2;
        overflow: hidden;
        &.nsmod-switch-start {
            opacity: .25;
            transition: opacity .1s ease-out;
        }
        &.nsmod-switch-end {
            opacity: 1;
            transition: opacity .1s ease-in;
        }
    }
    &_wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    &_title {
        color: $color-title-link;
        margin-top: $spacing-l;
        font-size: $font-size-l;
    }
    &_content {
        position: relative;
        margin-top: $spacing-m;
        flex: 1 1 auto;
    }
    &_text-wrap { @include absolute(0, 0, 0, 0); }
    &_content { line-height: $line-height-s; }
}

.r-medium {
    .ns-articles-switcher_ {
        &_wrapper { height: $height-slider - 50px; }
        &_img-holder { height: $height-slider - 50px; }
        &_img-holder { flex: 0 1 50%; }
        &_holder {
            flex: 0 1 50%;
            padding: $spacing-m;
            padding-right: $spacing-m * 2;
        }
        &_title {
            margin-top: $spacing-m;
            font-size: $font-size-m;
        }
        &_content { margin-top: $spacing-s; }
    }
}
.r-small {
    .ns-articles-switcher_ {
        &_wrapper{
            flex-direction: column;
            height: 250px * 2;
        }
        &_img {
            height: 250px;
            flex: 0 1 auto;
        }
        &_holder {
            padding: $spacing-m;
            width: auto;
        }
        &_holder, &_img-holder {
            flex: 0 1 auto;
            height: 250px;
        }
        &_title { text-align: center; }
    }
}
