@import '../styles/defaults';
@import '../styles/mixins';

.ns-article-with-sub_ {
    &_wrapper {
        font-family: 'Roboto';
        width: 100%;
        height: 100%;
        position: relative;
    }
    &_holder {
        height: 100%;
        overflow: hidden;
        position: relative;
        margin: 0 $spacing-s 0 $spacing-m;
    }
    &_sub-transformer {
        position: absolute;
        display: flex;
        flex-direction: row;
        transition: transform 0.6s ease-in-out;
        height: 100%;
    }
    &_sub-article {
        flex: 1 0 100%;
    }
    &_title {
        padding-top: $spacing-m;
        font-size: $font-size-m;
        height: 80%;
        cursor: pointer;
    }

    &_arrow-holder {
        @include absolute(0, -20px, 0, 0);
        left: auto;
        width: 25px;
    }
}
