@import '../styles/defaults';

//only for demo purposes
.ns-standalone {
    width: 100%;
    height: 100%;
    background: #333;
    & > div {
        margin: $spacing-m 0;
    }
}

.ns-demo {
    width: 100%;
    height: 100%;
    background: $bcg-main;
}
.ns-demo_ {
    &_wrapper {
        margin: 0 auto;
        max-width: $width-xl;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: $spacing-l;
    }
    &_header {
        height: 40px;
        width: 100%;
        background: #eee;
        border-bottom: 1px solid #ccc;
    }
    &_content {
        height: 100%;
        display: flex;
    }
    &_ad {
        height: 250px;
        margin-bottom: $spacing-xl;
        background: white;
        position: relative;
        &-central {
            &-small { height: 90px; }
        }
    }
    &_central {
        flex: 0 1 auto;
        height: 100%;
        width: 100%;
    }
    &_sidebar {
        flex: 1 0 $width-sidebar;
        max-width: $width-sidebar;
        background: white;
        margin-left: $spacing-m;
        position: relative;
    }
    &_article-slider {
        width: 100%;
        background: white;
        margin-bottom: $spacing-xl;
    }
    &_article-selector {
        height: 230px;
        width: 100%;
        background: white;
        margin-bottom: $spacing-xl;
    }
    &_spacer {
        display: none;
        &.nsmod-main { display: block; }
    }
    &_article-regular {
        width: 100%;
        background: white;
        margin-bottom: $spacing-m;
        &:last-of-type { margin-bottom: $spacing-xl; }
    }
}

//placeholder styling
.ns-demo__box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    text-transform: uppercase;
    font-weight: $font-weight-light;
    &.nsmod-box-last { margin-bottom: 0; }
}
.ns-demo__box_ {
    &_small {
        display: flex;
        flex: 1 0 auto;
        height: 100%;
        border: none;
        position: relative;
    }
    &_small-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ccc;
        @include absolute($spacing-s);
        &.nsmod-is-multi { left: 0; }
        &.nsmod-is-0 { left: $spacing-s; }
        &.nsmod-is-special { background: $color-x; }
    }
}

@include brkpnt-m {
    .ns-demo_ {
        &_sidebar {
            display: none;
        }
    }
}


