@import '../styles/defaults';
@import '../styles/mixins';

$baseClr: #292f41;
$borderClr: #444;


.ns-navbar__wrapper {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
        z-index: 10;
    }
    li {
        display: inline-block;
        float: left;
        padding: 0 $spacing-s;
    }
    li a {
        display: block;
        text-align: center;
        line-height: 40px;
        color: #fff;
        background: $baseClr;
        text-decoration: none;
    }
    li:hover ul a {
        text-decoration: none;
        height: 40px;
        line-height: 40px;
    }
    li ul {
        display: none;
        height: auto;
        box-shadow: 0 2px 8px rgba(0,0,0,0.45);
    }
    li ul li {
        padding: 0;
        display: block;
        float: none;
        height: 40px;
        &:last-child {
            a {
                border-radius: 0 0 3px 3px;
            }

        }
    }
    li ul li a {
        width: auto;
        min-width: 100px;
        padding: 0 $spacing-s;
        text-align: left;
    }
    ul li a:hover + .ns-navbar__hidden, .ns-navbar__hidden:hover {
        display: block;
        right: 0;
    }
    &_home {
        display: none;
    }
    input[type=checkbox]{
        display: none;
    }
    input[type=checkbox]:checked ~ #menu{
        display: block;
    }
    input[type=checkbox]:checked ~ #home{
        display: block;
    }
    input[type=checkbox]:checked ~ #login{
        display: none;
    }
}

.ns-navbar_ {
    &_wrapper {
        font-family: 'Roboto';
        height: 40px;
        width: 100%;
        background: $baseClr;
        display: flex;
        font-weight: $font-weight-normal;
        position: relative;
        color: #fff;
    }
    &_show-menu {
        text-decoration: none;
        padding: 10px 0;
        display: none;
        cursor: pointer;
    }
    &_subnav { margin-left: $spacing-xs; }
    &_hidden {
        height: 20px;
    }
    &_hidden li a img {
        transform: rotate(-90deg);
        margin: 0 2px 1px 0;
    }
    &_home {
        display: none;
        position: absolute;
        right: -999px;
        cursor: pointer;
    }
    &_hidden-wrapper {
        position: absolute;
        display: flex;
        flex-direction: row;
        visibility: hidden;
    }
    &_hidden-el {
        padding: 0 $spacing-s;
        display: inline;
        white-space: nowrap;
    }
}
